= stylesheet_link_tag "signup/new", media: "all", "data-turbolinks-track" => true
.row
  .col-md-4
  .col-md-4
    .panel
      .row
        .col-md-1
        .col-md-10
          = render 'form'
        .col-md-1
  .col-md-4
