.list-group.signup
  %a#create-project-panel-bullet1.create-project.list-group-item.active
    .row
      .col-md-2
        = image_tag "banner.png", width: "45", class: "pull-left"
      .col-md-8
        %h4.list-group-item-heading Create Project
        %p.list-group-item-text Describe the project.
  %a#create-project-panel-bullet2.create-project.list-group-item
    .row
      .col-md-2
        = image_tag "shirt.png", width: "45", class: "pull-left"
      .col-md-8
        %h4.list-group-item-heading Open Positions
        %p.list-group-item-text Tell us which industry skills you currently seek for this project.
  %a#create-project-panel-bullet3.create-project.list-group-item
    .row
      .col-md-2
        = image_tag "picture.png", width: "45", class: "pull-left"
      .col-md-8
        %h4.list-group-item-heading Cover Photo
        %p.list-group-item-text Choose a photo for your film